[submodule "hw/rotor"]
	path = hw/rotor
	url = git@github.com:ust-modules/USTEFMCHOPPER01.git
[submodule "hw/stator"]
	path = hw/stator
	url = git@github.com:ust-modules/USTEFMSTATOR01.git
[submodule "hw/AFE"]
	path = hw/AFE
	url = git@github.com:ust-modules/USTEFMADC01.git
[submodule "hw/sensor_holder"]
	path = hw/sensor_holder
	url = git@github.com:ust-modules/USTEFMOPTHLD01.git
[submodule "hw/MCU"]
	path = hw/MCU
	url = git@github.com:ust-modules/USTEFMMCU01.git
